.container{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 500px;

}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.dashboard {
    display: flex;
    height: 100vh;
}


.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

.header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.content-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
