<div class="lcontainer text-center shadow pb-3 pt-3">
    <h1>Login Successful!</h1>
    <p>Welcome, you have successfully logged in.</p>
    <button routerLink="" class="btn btn-danger">logout</button>
  </div>

    <div class="dashboard">
        
        <main class="main-content">
            <header class="header">
              <h1>Hi   {{user.userName}} 😍🙌</h1>
                <h3>Welcome to the Dashboard</h3>
            </header>
            <section id="overview" class="content-section">
                <h2>Overview</h2>
                <p>This is the overview section. <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus soluta minus incidunt laudantium iste ab ut facere eum non exercitationem. Enim facilis dolores recusandae suscipit cupiditate ab, consequuntur corporis quaerat.
                </p>
            </section>
            <section id="reports" class="content-section">
                <h2>Reports</h2>
                <p>This is the reports section.
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus soluta minus incidunt laudantium iste ab ut facere eum non exercitationem. Enim facilis dolores recusandae suscipit cupiditate ab, consequuntur corporis quaerat.
                </p>
            </section>
            <section id="analytics" class="content-section">
                <h2>Analytics</h2>
                <p>This is the analytics section.
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus soluta minus incidunt laudantium iste ab ut facere eum non exercitationem. Enim facilis dolores recusandae suscipit cupiditate ab, consequuntur corporis quaerat.
                </p>
            </section>
            <section id="settings" class="content-section">
                <h2>Settings</h2>
                <p>This is the settings section.
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus soluta minus incidunt laudantium iste ab ut facere eum non exercitationem. Enim facilis dolores recusandae suscipit cupiditate ab, consequuntur corporis quaerat.
                </p>
            </section>
        </main>
    </div>

